# Dependencies
node_modules

# Production
.next
out
build
dist

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Testing
coverage

# Misc
*.md
package-lock.json
yarn.lock
pnpm-lock.yaml
